<div>
  <footer>
    <small>
      Copyright &copy: <a href="https://google.com">Google</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>